body{
    background-color:#1b1f22;
    color: #bc4242;
    margin:0px;
    font-family:'Roboto', Times, serif ;
}
.posudek{
    display: flex;
    justify-content: center;

}
.text-center{
    text-align: center;
}
.container{
    width:100%;
    margin: 0 auto; 
    text-align: center;
    .img{
        padding: 50px;
        width: 20rem;
    }
}
.logout{
    display: block;
    align-items: center;
    text-align: center;
}
a{
    color: #bc4242; 
}
button{
    border-radius: 15em;
    background-color: transparent;
    border-color: #bc4242;
    color: #bc4242;
    }