body{
    margin: 0px;
    background-color:#1b1f22;
}

.header{
    display: flex;
    flex-flow: row;
    background-color: #bc4242;
    background: linear-gradient(#bc4242, #220e0e);
    width: 100%;
    height: 45px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    position: sticky;
    z-index: 1;
    top: 0;
}

.menu-link{
    margin-inline: auto;
    font-size: calc(12px + (12 * 0.2) * ((100vw - 300px) / (1600 - 300)));
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.2;
    align-self: center;
    padding-right: 35px;
    white-space: nowrap;
}

.search-box {
    display: flex;
    flex-flow: row;
    background: white;
    width: 300px;
    height: 28px;
    margin: auto;
}

.search-box input {
    width: 100%;
    height: 100%;
    display: flex;
}

.search-box button {
    background: transparent;
    border: 2px;
    cursor: pointer;
    font-size: 20px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.search-box input:focus + button .fa-search {
    color: #800020;
}

.logo{
    margin-top: -5px;
    background-image: url(HokusPokus3.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.content{
    width: 80%;
    display: flex;
    flex-flow: column;
    margin-inline: auto;
}

.text-box{
    display:flex;
    flex-flow: column;
    width: 10%;
    margin-inline: auto;
}

.sorting{
    display: flex;
    flex-flow: row;
    margin-inline: auto;
}

.separate-sort-box{
    display: flex;
    flex-flow: row;
    width: 150px;
    height: 50px;
    border-color: #bc4242;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    margin-left: 15px;
}

.sort-text{
    color: #bc4242;
    margin-inline: auto;
    font-size: calc(14px + (14 * 0.2) * ((100vw - 300px) / (1600 - 300)));
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.2;
    white-space: nowrap;
    margin-top: auto;
    margin-bottom: auto;
}

.red-line{
    background: linear-gradient(#bc4242, #220e0e);;
    margin-top: 10px;
    width: 100%;
    height: 1px;
    z-index: 0;
    margin-bottom: 50px;
}

.intro-text{
    color: #bc4242;
    margin-inline: auto;
    font-size: calc(18px + (18 * 0.2) * ((100vw - 300px) / (1600 - 300)));
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.2;
    align-self: center;
    white-space: nowrap;
    margin-inline: auto;
}

.catalogs-all{
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-inline: auto;
    margin-top: 50px;
    flex-wrap: nowrap;
}

.catalogs-years{
    display: flex;
    flex-flow: row;
    width: 100%;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}

.catalogs-separate{
    margin-top: -5px;
    background-image: url(casopis2.png);
    height: 450px;
    width: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    margin-inline: auto;
    border-radius: 8px;
}